body {
    background: linear-gradient(to bottom, #6da8ff, #3a77f5);
    text-align: center;
    font-family: "Poppins", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 5px;
    font-weight: 700;
}

p {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 0;
    font-size: 18px;
}

.container {
    background-color: #0a46e9;
    width: 650px;
    padding: 40px;
    margin: 40px auto;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 28px;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 6px;
    color: white;
    font-weight: 600;
}

/* Input & Select fields */
input,
select {
    width: 100%;
    padding: 12px 15px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

select {
    cursor: pointer;
}

/* Grid for From/To fields */
.grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

/* Each field */
.field {
    flex: 1;
}

/* Swap button */
.swap {
    background-color: #2958f5;
    border: none;
    border-radius: 12px;
    width: 45px;
    height: 45px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;
}

.swap:hover {
    background-color: #1a40c5;
}

/* Buttons row */
.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.actions button {
    flex: 1;
    padding: 12px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Convert button */
.actions .First {
    background: white;
    color: #0a46e9;
}

.actions .First:hover {
    background: #f0f0f0;
}

/* Reset button */
.actions .clear {
    background: #4f73f7;
    color: white;
}

.actions .clear:hover {
    background: #3459d6;
}

/* Output */
.result {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}



/* foooter */
.footer {
    margin-top: 50px;
    padding: 16px;
    text-align: center;
    font-size: 0.9rem;
    background: transparent;
    height: 100px;
}

.footer p {
    margin: 0;
    opacity: 0.8;
}

.footer p:hover {
    opacity: 1;

}